footer a {
    color: seashell;
}

.retro-fmt .question-fmt p {
    font-family: sans-serif;
}

.retro-fmt h2 {
    font-family: 'Special Elite', cursive;
    margin-top: 15px;
    text-decoration: underline;
    text-align: center;
}

.text_block{
    text-align: left ;
}
.retro-fmt p {
    font-family: 'Special Elite', cursive;
    margin: 0 0;}

.nav_bar_index{
    font-family: 'Special Elite', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 80px;
    float: right;
    color: seashell;
    text-align: center;
}


.nav_content a {
    color: seashell;
}


.nav_content {
    color: seashell;
    //padding: 20px;
}


.nav_content ul li {
    list-style:none;
    margin: 15px;
    float: right;

}

.nav_content ol li {
    list-style:none;
    margin-right: 15px;
    float: right;

}
.nav_content ol li:first-child { float: left; }

.nav_content ol li:nth-child(2) { float: left; }

.nav_content li {
    display: inline-block;
}

.nav_content h1 {
    margin: 0;
}

.nav_bar_generic {
    font-family: 'Special Elite', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    float: right;
    color: seashell;
    text-align: center;
}

.nav_bar_generic h1{
    margin: 10px 0 0 0;
    font-size: 2.5em;

}

.nav_bar_generic ol {
    margin: 0;
}

.nav_bar_generic a {
    color: seashell;
}

.notes-fmt{
    margin: 0 10px;
    font-size: .75em;
    font-style: italic;

}

.heading {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    width: 100%;
    margin: 0;
    background-image: url("img/HOMOdendaal_Mustang_Web.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.heading_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
            "b b b"
            "m m p"
}

.heading_pic-block {
    grid-area: p;
    //border: solid black 1px;
    text-align: left;
    margin-top: 60%;
}

.heading_banner-block {
    grid-area: b;
}

.heading-block {
    grid-area: m;
}

.heading_img_frame{
    width: 100%;
    margin: 20px 0 0 0;
    //border: solid black 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#img_odendaal-heading{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;

}
#img_mustang{
    background-image: url("img/mustang_paint_l.jpg");
    text-align: right;
     }

#img_kittyhawk{
    background-image: url("img/hom_kittyhawk_2.jpg");
    text-align: center;

}
.img_frame {
    width: 100%;
    margin: 20px 0 0 0;
    height: 350px;
/ / border: solid black 1 px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.caption{
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}

.img_text{
    margin-right: 10px;
}

.first_paragraph{
    margin-top: 130px;
}

.heading h1{
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    height: 80px;
    margin-top: 3%;
    margin-left: 5%;
    text-align: left;
}




.article {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-column-gap: 10px;
    font-size: 1.5em;
}

.legacy_report{
    font-family: 'Special Elite', cursive;
    //border: solid black 1px;
    margin: 5px;
    padding: 15px;
    background-image: url("img/sepia.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.article > * {
    grid-column: 2;
    min-width: 0;
}

.article p{
    margin: 10px;
}


.article > .aside {
    grid-column: 3;
    color: #666;
    font-size: 0.8em;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

.article_holder_1fr_2fr{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    text-align: center;

}


.article_holder_half_1fr__half{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    text-align: center;
}

#img_caterpillar{
    /*width: 90px;*/
    width: 220px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 150px;
}

#text_caterpillarClub {
    margin-top: 150px;
    text-align: left;
    padding: 10px;
    background-color: lightgray;
}

#img_caterpillarClubCard{
    width: 400px;
    margin-top: 50px;
}

#img_cutting{
    width:300px;
    height:auto;
}

#img_mothersCross{
    width: 250px;
}


.sub_article{
    padding-top: 120px;
}

.picture_block {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


.container #right{
    text-align: right;
}

.contact {
    padding-left: 20px ;
    color: seashell;
    text-decoration: none;
}


html, body {
    line-height: 1.4;
}

body {
    margin: 0 10px;
    font-family: 'Ubuntu', sans-serif;
}


figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}
footer .container {

    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    width: 100%;
    height: 60px;
    background-color: grey;
    color: seashell;
}
