.article {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-column-gap: 10px;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
}

.article > * {
    grid-column: 2;
    min-width: 0;
}

.article h1{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
}

.article p{

    margin: 10px;

}
.article > figure {
    grid-column: 1 / -1;
    margin: 2px 0;
}

.article > .aside {
    grid-column: 3;
    color: #666;
    font-size: 0.8em;
}


/* General styling */

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;

}

body {
    margin: 0 10px;

}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}

pre > code {
    padding: 0;
}

.figure {
    vertical-align:middle;
    text-align:center;
    padding: 5px 5px 10px 5px;
}

.img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}
footer .container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, auto);
    margin: 0 10px;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
 }

.container #right{
    text-align: right;
}