.nav_bar_generic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    width: 100%;
    grid-template-rows: 80px;
    background-color: black;
    color: seashell;
    font-family: 'Special Elite', cursive;
}

.left_nav li{
    color: seashell;
    display: inline-block;
    padding-right: 10px;
}

.nav_bar_generic a {

    color: seashell;
}

.right_nav li{
    color: seashell;
    display: inline-block;
    padding-right: 10px;
}


.notes{
    margin: 0 0 ;
}

.heading {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    width: 100%;
    margin: 0;
    background-image: url("img/HOMOdendaal_Mustang_Web.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.embed_pic{

    grid-column: 1 / -1;
    height: 350px;
    width: 100%;
    margin: 20px 0 0 0;
    //border: solid black 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}
#mustang{
    background-image: url("img/mustang_paint_l.jpg");
    text-align: right;
     }

.img_text{
    margin-right: 10px;
}

.nav_bar:first-child{float: left}

.nav_bar{
    font-family: 'Special Elite', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: left;
    display: inline-block;
    float: right;
}

.nav_bar a:hover {
    text-decoration: none;
}

.nav_content {
    color: seashell;
    padding: 20px;
    }

.nav_content ul li:first-child { float: left; }

.nav_content ul li {
    list-style:none;
    margin:10px;
    float: right;

}

.first_p{
    margin-top: 100px;
}

.nav_content ol li:first-child { float: left; }

.nav_content ol li {
    list-style:none;
    margin:10px;
    float: right;
    align-items: center;

}

.nav_content ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_content a {
    color: seashell;
}

.nav_content li {
    display: inline-block;
}

.nav_content h1 {
    margin: 0;
}

.heading h1{
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    height: 80px;
    margin-top: 3%;
    margin-left: 5%;
    text-align: left;
}

.menu_pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
            "b b b"
            "m m p"
}

.banner {
    grid-area: b;
    //border: solid black 1px;
}

.pic {
    grid-area: p;
    //border: solid black 1px;
    text-align: left;
    margin-top: 60%;

    }

.menu {
    grid-area: m;
    //border: solid black 1px;

}

.article {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-column-gap: 10px;
    font-size: 1.5em;
}

.legacy_report{
    font-family: 'Special Elite', cursive;
    //border: solid black 1px;
    margin: 5px;
    padding: 5px;
    background-image: url("img/sepia.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.article > * {
    grid-column: 2;
    min-width: 0;
}

.article p{
    margin: 10px;
}


.article > .aside {
    grid-column: 3;
    color: #666;
    font-size: 0.8em;
}


html, body {
    //margin: 0;
    //padding: 0;
    line-height: 1.4;

}

body {
    margin: 0 10px;
    font-family: 'Ubuntu', sans-serif;

}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}

pre > code {
    padding: 0;
}



.pic img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10% ;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}
footer .container {

    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    width: 100%;
    height: 60px;
    background-color: grey;
 }

.container #right{
    text-align: right;
}

.contact {
    padding-left: 20px ;
    color: seashell;
    text-decoration: none;
}